---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach

AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
InsertBraces: true

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
SortIncludes: true
